<!DOCTYPE html>
<head>
   <title>Roboten</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<script type="text/javascript" language="javascript">
function onActionClicked(action)
{
  var url = "/actions/" + action;
  var xhr = new XMLHttpRequest();
  xhr.open("POST", url);
  xhr.send();
}

var source = new EventSource("/infostream");
source.onmessage = function (event) {
  document.getElementById("logmessage").innerHTML = event.data
}
</script>

<body>

  <div class="container">
   
  <h1 style="text-align: center;">Roboten</h1>

  <img src="{{ url_for('camera') }}">

  <div class="row">
  <div class="col-xs-3">&nbsp;</div>
  <div class="col-xs-6">
  <a onclick="onActionClicked('forward');" class="btn btn-block btn-lg btn-default" role="button">/\</a>
  </div>
  <div class="col-xs-3">&nbsp;</div>
  </div>
  <div>&nbsp;</div>
  <div class="row">
  <div class="col-xs-6">
  <a onclick="onActionClicked('left');" class="btn btn-block btn-lg btn-default" role="button">&lt;==</a>
  </div>
  <div class="col-xs-6">
  <a onclick="onActionClicked('right');" class="btn btn-block btn-lg btn-default" role="button">==&gt;</a>
  </div>
  </div>
  <div>&nbsp;</div>
  <div class="row">
  <div class="col-xs-3">&nbsp;</div>
  <div class="col-xs-6">
  <a onclick="onActionClicked('reverse');" class="btn btn-block btn-lg btn-default" role="button">\/</a>
  </div>
  <div class="col-xs-3">&nbsp;</div>
  </div>
  
  <div style="margin-bottom: 40px;">&nbsp;</div>
  
  <div class="row">
  <div class="col-md-6">
  <a onclick="onActionClicked('up');" class="btn btn-block btn-lg btn-default" role="button">Up</a>
  </div>
  <div class="col-md-6">
  <a onclick="onActionClicked('down');" class="btn btn-block btn-lg btn-default" role="button">Down</a>
  </div>
  </div>
  
  <div style="margin-bottom: 40px;">&nbsp;</div>
  
  <div style="text-align: center;" id="logmessage">&nbsp;</div>
  
  <div style="margin-bottom: 120px;">&nbsp;</div>
  
  <a onclick="onActionClicked('upgrade');" class="btn btn-block btn-lg btn-warning" role="button">Upgrade</a>
  <a onclick="onActionClicked('shutdown');" class="btn btn-block btn-lg btn-warning" role="button">Shutdown</a>
  
  </div>

</body>
</html>
